# SPDX-License-Identifier: GPL-2.0-only
#
# JLQ pwm drivers
#
config JLQ_QCOM_SPMI_ADC5
	tristate "QTI SPMI PMIC5 ADC base on JLQ SOC"
	depends on SPMI
	select REGMAP_SPMI
	help
	  This is the IIO Voltage PMIC5 ADC driver for Qualcomm Technologies Inc.
	  The driver supports multiple channels read. The ADC is a 16-bit
	  sigma-delta ADC. The hardware supports calibrated results for
	  conversion requests and clients include reading voltage phone
	  power, on board system thermistors connected to the PMIC ADC,
	  PMIC die temperature, charger temperature, battery current, USB voltage
	  input, voltage signals connected to supported PMIC GPIO inputs. The
	  hardware supports internal pull-up for thermistors and can choose between
	  a 100k, 30k and 400k pull up using the ADC channels.

	  To compile this driver as a module, choose M here: the module will
	  be called qcom-spmi-adc5.

