# SPDX-License-Identifier: GPL-2.0-only
#
# JLQ pmu drivers
#
config JLQ_QTI_ADC_TM
	tristate "QTI Thermal Monitor ADC Driver base on JLQ SOC"
	depends on SPMI && THERMAL
	depends on JLQ_QCOM_SPMI_ADC5
	help
	  This enables the thermal Sysfs driver for the ADC thermal monitoring
	  device. It shows up in Sysfs as a thermal zone with multiple trip points.
	  Thermal client sets threshold temperature for both warm and cool
	  and gets updated when a threshold is reached.

config JLQ_QTI_BCL_SOC_DRIVER
	tristate "QTI Battery state of charge sensor driver base on JLQ SOC"
	depends on THERMAL_OF && POWER_SUPPLY
	help
	  This driver registers battery state of charge as a sensor with
	  thermal framework. This sensor can monitor for state of charge
	  thresholds and notify the thermal framework when the thresholds
	  are reached and cleared. This will help to monitor and apply any
	  mitigation when state of charge goes below a certain threshold.

config JLQ_QCOM_SPMI_TEMP_ALARM
	tristate "Qualcomm SPMI PMIC Temperature Alarm on JLQ SOC"
	depends on OF && SPMI && IIO
	select REGMAP_SPMI
	help
	  This enables a thermal sysfs driver for Qualcomm plug-and-play (QPNP)
	  PMIC devices. It shows up in sysfs as a thermal sensor with multiple
	  trip points. The temperature reported by the thermal sensor reflects the
	  real time die temperature if an ADC is present or an estimate of the
	  temperature based upon the over temperature stage value.

config JLQ_QTI_BCL_PMIC5
	tristate "BCL driver for BCL peripherals in PMIC5 on JLQ SOC"
	depends on SPMI && THERMAL_OF && JLQ_THERMAL
	help
	  This driver provides routines to configure and monitor the BCL
	  PMIC peripheral. This driver registers the battery current and
	  voltage sensors with the thermal core framework and can take
	  threshold input and notify the thermal core when the threshold is
	  reached.


