config TOUCHSCREEN_GSL
	tristate "GSL touchscreens"
	depends on I2C
	help
	  Say Y here if you have a touchscreen using GSL.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called gsl_ts.
