config PWM_QTI_LPG
	tristate "Qualcomm Technologies, Inc. LPG driver"
	depends on MFD_SPMI_PMIC && OF
	help
	  This driver supports the LPG (Light Pulse Generator) module found in
	  Qualcomm Technologies, Inc. PMIC chips. Each LPG channel can be
	  configured to operate in PWM mode to output a fixed amplitude with
	  variable duty cycle or in LUT (Look up table) mode to output PWM
	  signal with a modulated amplitude.
