# SPDX-License-Identifier: GPL-2.0-only
#
# JLQ pwm drivers
#
config PWM_JLQ
        tristate "JLQ pwm Support"
        help
          Generic PWM driver for jlq.
          To compile this driver as a module, choose M here.
